Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: 'include/adh/.*\.hpp$'
FormatStyle: file
